<div class="container">
    <h1>File Manager</h1>
    <app-list 
        [list]=listFiles
        (selectedMain)="onSelectedFile($event)"
    ></app-list>
    <app-viewer 
        [file]="currentFile" 
        (save)="onSave($event)"
        (delete)="onDelete($event)"
        (add)="onAdd($event)"
        (restore)="onRestore($event)"
        (permanently)="onPermanently($event)"
        [modeNew]="modeNew"
    ></app-viewer>
    <app-toolbar
        [folder]="currentFolder" 
        (newDir)="newDir()"
        (newFile)="newFile()"
        (openRoot)="openRoot()"
        (openTrash)="openTrash()"
        [loading]="loading"
    ></app-toolbar>
</div>
